USE [e_comm]
GO
/****** Object:  Table [dbo].[tbl_category]    Script Date: 07-03-2026 16:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_category](
	[c_id] [int] IDENTITY(1,1) NOT NULL,
	[c_name] [varchar](100) NULL,
	[c_picture] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[c_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_login]    Script Date: 07-03-2026 16:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_login](
	[l_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](100) NULL,
	[role] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_product]    Script Date: 07-03-2026 16:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_product](
	[p_id] [int] IDENTITY(1,1) NOT NULL,
	[p_name] [varchar](100) NULL,
	[c_id] [int] NULL,
	[description] [varchar](100) NULL,
	[p_picture] [varchar](200) NULL,
	[p_price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[p_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_user]    Script Date: 07-03-2026 16:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_user](
	[u_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](100) NULL,
	[mobile] [bigint] NULL,
	[dob] [date] NULL,
	[gender] [varchar](100) NULL,
 CONSTRAINT [PK__tbl_user__AB6E6165DE010103] PRIMARY KEY CLUSTERED 
(
	[u_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_product]  WITH CHECK ADD  CONSTRAINT [c_id] FOREIGN KEY([c_id])
REFERENCES [dbo].[tbl_category] ([c_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_product] CHECK CONSTRAINT [c_id]
GO
ALTER TABLE [dbo].[tbl_product]  WITH CHECK ADD FOREIGN KEY([c_id])
REFERENCES [dbo].[tbl_category] ([c_id])
GO
/****** Object:  StoredProcedure [dbo].[sp_categ]    Script Date: 07-03-2026 16:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_categ]
@c_id int=0,
@c_name varchar(100)=null,
@c_picture varchar(200)=null,
@action int=0
as
begin
if(@action=1)
begin
insert into tbl_category values(@c_name,@c_picture)
end
else if(@action=2)
begin
select * from tbl_category
end
else if(@action=3)
begin
delete from tbl_category where c_id=@c_id
end
else if(@action=4)
begin
select * from tbl_category where c_id=@c_id
end
else if(@action=5)
begin
update tbl_category set c_name=@c_name,c_picture=@c_picture where c_id=@c_id;
end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_login]    Script Date: 07-03-2026 16:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_login]
@l_id int=0,
@email varchar(100)=null,
@password varchar(100)=null,
@role varchar(50)=null,
@action int=0
as
begin
if(@action=1)
begin
select * from tbl_login where email=@email and password=@password
end
end

GO
/****** Object:  StoredProcedure [dbo].[sp_product]    Script Date: 07-03-2026 16:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_product]
@p_id int=0,
@p_name varchar(100)=null,
@p_price int=0,
@c_id int=0,
@p_desc varchar(100)=null,
@p_picture varchar(200)=null,
@action int=0
as
begin
if(@action=1)
begin
insert into tbl_product values(@p_name,@c_id,@p_desc,@p_picture,@p_price)
end
else if(@action=2)
begin
select * from tbl_product where c_id=@c_id
end
else if(@action=3)
begin
select * from tbl_product left join tbl_category on tbl_product.c_id=tbl_category.c_id
end
else if(@action=4)
begin
delete from tbl_product where p_id=@p_id
end
else if(@action=5)
begin
update tbl_product set p_name=@p_name,p_price=@p_price,c_id=@c_id,description=@p_desc,p_picture=@p_picture 
where p_id=@p_id
end
else if(@action=6)
begin
select * from tbl_product left join tbl_category on tbl_product.c_id=tbl_category.c_id where p_id=@p_id
end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_user]    Script Date: 07-03-2026 16:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_user]
@u_id int=0,
@name varchar(100)=null,
@email varchar(100)=null,
@password varchar(100)=null,
@mobile bigint=0,
@dob date=null,
@gender varchar(100)=null,
@action int=0
as
begin
if(@action=1)
begin
insert into tbl_user values (@name,@email,@password,@mobile,@dob,@gender);
insert into tbl_login values (@email,@password,'user')
end
else if(@action=2)
begin
select * from tbl_user
end
else if(@action=3)
begin
delete from tbl_user where u_id=@u_id;
end
else if(@action=4)
begin
select * from tbl_user where u_id=@u_id;
end
else if(@action=5)
begin
update tbl_user set name=@name,mobile=@mobile,dob=@dob,gender=@gender where email=@email;
end
else if(@action=6)
begin
select * from tbl_user where email=@email;
end
end
GO
