<div class="login-page">

  <div class="container">

    <div class="row justify-content-center">

      <div class="col-lg-4 col-md-6">

        <div class="login-card">

          <h3 class="login-title">Login</h3>

          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

            <div class="mb-3">

              <label class="form-label">Email</label>

              <input 
              type="email"
              class="form-control custom-input"
              formControlName="email"
              placeholder="Enter email">

              <div class="error-text"
              *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">

                <small *ngIf="loginForm.get('email')?.errors?.['required']">
                  Email is required
                </small>

                <small *ngIf="loginForm.get('email')?.errors?.['email']">
                  Invalid email format
                </small>

              </div>

            </div>


            <div class="mb-3">

              <label class="form-label">Password</label>

              <input 
              type="password"
              class="form-control custom-input"
              formControlName="password"
              placeholder="Enter password">

              <div class="error-text"
              *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">

                <small *ngIf="loginForm.get('password')?.errors?.['required']">
                  Password is required
                </small>

                <small *ngIf="loginForm.get('password')?.errors?.['minlength']">
                  Minimum 6 characters required
                </small>

              </div>

              <div class="text-end mt-2">
                <a routerLink="/register" class="register-link">
                  Create account
                </a>
              </div>

            </div>


            <button type="submit" class="btn login-btn w-100">
              Login
            </button>

          </form>

        </div>

      </div>

    </div>

  </div>

</div>